<%- include("includes/header.ejs") %>
<%- include("includes/nav.ejs") %>
<body>
            <div class="posts_container">
                <div class="edit_delete" style="align-self:self-end;">
                    <a href="/posts"><i class="fa-solid fa-arrow-left"></i></a>
                </div>
                <h2 style="align-self: start;margin-top: -10px;"><%= post.username %></h2>
                <p style="align-self: start;"><%= post.content %></p>
                <img src="<%= post.imgurl %>" alt="">
                <div class="bottom">
                    <i class="fa-solid fa-heart"></i>
                    <i class="fa-solid fa-comment"></i>
                    <i class="fa-solid fa-share"></i>
                   <i class="fa-solid fa-ellipsis" style="margin-left: auto;"></i>
        
                </div>
                </div>
</body>
<%- include("includes/footer.ejs") %>